.body {
    .action {
        display: flex;
        justify-content: end;
        margin-right: 20%;

        .btn_continue {
            background-color: black;
            color: white;
            width: fit-content;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 9px 23px;
            cursor: pointer;

            &:hover {
                background-color: #5f5f5f;
            }

            div:first-child {
                font-size: 10px;
                align-items: center;
                display: flex;
                margin-right: 2px;
            }
        }
    }

    .tab_header {
        border-bottom: 1px solid black;
        padding: 0 20% 0 20%;

        @media screen and (max-width: 1100px) {
            padding: 0 60px 0 60px;
        }

        .tab_description {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            margin-top: 24px;
        }

        .tabs {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 19px 0 30px 0;

            @media screen and (max-width: 540px) {
                flex-direction: column;
            }
        }
    }

    .tab_body {
        padding: 0 20% 0 20%;
        display: flex;
        // align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 960px) {
            flex-direction: column;
            padding: 0 60px 0 60px;
        }

        .perks,
        .perk_des {
            margin-top: 25px;
            width: 100%;
            padding: 0 10px;
        }

        .perks_list {
            display: grid;
            row-gap: 6px;
            column-gap: 8px;
            grid-template-columns: 1fr;

        }

        .perks_list.grid {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.btn_tab {
    background-color: #F3F3F3;
    border-radius: 3px;
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-right: 14px;
    cursor: pointer;

    @media screen and (max-width: 540px) {
        margin-right: 0px;
        margin-top: 10px;
    }

    &.active {
        border: 2px solid rgba(0, 0, 0, 0.3);
        background-color: #D0D0D0;
    }

    &:hover {
        color: #444
    }
}

.btn_perk {
    background: #F3F3F3;
    border-radius: 3px;
    width: 100%;
    height: 68px;
    margin-right: 5px;
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    cursor: pointer;

    &.active {
        border: 2px solid rgba(0, 0, 0, 0.3);
        background-color: #D0D0D0;
    }

    &:hover {
        color: #444
    }
}

.choose_donate_level {
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.perk_detail {
    text-align: left;

    .perk_amount {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
    }

    .perk_unit {
        font-style: normal;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .profit {
        font-size: 14px;
    }

    .img_check {
        width: 10px;
        margin-right: 3px;
    }
}